/*
    Notion
https://efficient-sloth-d85.notion.site/Desafio-RocketNews-2e2c5d56b41f4b13a7d8df6b5affc0ec

    Figma
https://www.figma.com/file/jcOfNWef8VT5id4WQZO0T3/DD-%2F-RocketNews-(Copy)?node-id=3-2&t=ZUemMZEANFf4vODz-0
*/

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;500;700&family=Work+Sans:wght@400;500;700&display=swap');

:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    color: var(--text-color);
    font-family: 'League Spartan', sans-serif;
}

.area_info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 45px;
    padding: 50px 35px;

    background-color: var(--body-bg-color);
    height:100vh;
    width: 50%;
}

.imagem_fundo {
    background:url(assets/read_news.jpg) no-repeat 80%;
    background-size: cover;
    height:100vh;
    width: 50%;
}

.logo {
    width: 100%;
    margin-bottom: 40px;
}

.logo img{
    width: 59%;
    min-width: 400px;
}

.info_textos{
    
}

.info_textos h2{
    font-family: 'Work sans', sans-serif;
    color: var(--title-color);
}

.info_textos h3 {
    font-weight: 500;
    font-size: 1.12em;
    margin: 10px 0px;
}

.info_textos p {
    font-weight: 200;
    font-size: 18px;
    line-height: 1.1em;
}

.enviar_email{
    display: flex;
    flex-direction: column;
}

.enviar_email label{
    color: var(--form-color);
    font-weight: 700;
    margin: 15px 0px;
    font-size: 1.1em;
}

.area_input {
    display: flex;
    height: 50px;
    width: 120%;
    z-index: 1;
    position: relative;
    box-shadow:0px 6px 8px 4px rgba(0, 0, 0, 0.37);
}

.area_input::before{
    position: absolute;
    content: '';
    left: 0px;
    bottom: 0px;
    height: 100%;
    width: 5px;
    background-color:var(--title-color);
}

.area_input input {

    width: 100%;
    border: none;
    padding-left: 15px;
    font-family: 'Work sans', sans-serif;
    outline: none;
}

.area_enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 50px;
    background-color: var(--bg-button-color);
    cursor: pointer;
}

.saiberMais{
    display: flex;
    align-items: center;
    gap: 10px;
}

.saiberMais a{
    text-decoration: none;
    color: var(--bg-button-color);
    font-weight: 700;
    font-size: 1.1em;
    
}

.saiberMais a:hover{
    text-decoration: underline;
}

@media screen and (max-width:992px){
    .imagem_fundo{
        display: none;
    }
    
    .area_info {
        width: 100%;
    }

    .logo img {
        width: 55%;
        min-width: 400px;
    }

    .area_input{
        width: 90%;
    }
}